/* reset code  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    width: 100%;
    height: 20vh;
    border: 1px solid black;
    background-color: aqua;
}

.head{
    width: 100%;
    height: 15vh;
    border: 1px solid greenyellow;
    background-color: azure;

    /* text-align: center; */

    /* display: flex; */
    
    

}

.foot{
    width: 100%;
    height: 10vh;
    border: 1px solid greenyellow;
    background-color: azure;
}